.rc-card {
    padding-top:20px;
    margin-bottom:90px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    background-color: white;
}
    

main {
    background-color: #dddddd;
}

header h1 {
    color:#29b1dd;
    font-family: cursive;
}

nav {
    background-color:#29b1dd;
}

.rc-select {
    width: 140px;
}


@media screen and (min-width:1200px){
.col-5row {
    flex: 0 0 auto;
    width: 20%;
}}

