.rc-card {
    padding-top:20px;
    margin-bottom:90px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    background-color: white;
}
    

main {
    background-color: #dddddd;
}